/*
palette and colors:
    main white background #f0f0f0
    main dark gray background #303030
    saturated italy red #e00826
    desaturated italy red 
    wine red #620826
    saturated italy green #10622d
    desaturated italy green 
    dark green

*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #303030;
}

header {
    background: #620826;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}


.logo-banner {
    width:15%;
    height:auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px; 
}

#section1 {
    background: #303030;
    position: relative;
}

#section2 {
    background: #10622d;
}

#section3 {
    background: #303030;
}

.carousel {
    position: relative;
    width: 80%;
    overflow: hidden;
}

.carousel-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.carousel-inner .current {
    transform: scale(1);
    filter: none;
    opacity: 1;
    position: relative;
    z-index: 2;
}

.carousel-inner .prev {
    transform: scale(0.8);
    filter: blur(5px);
    left: -20%;
    opacity: 1;
    z-index: 1;
}

.carousel-inner .next {
    transform: scale(0.8);
    filter: blur(5px);
    left: 20%;
    opacity: 1;
    z-index: 1;
}

.carousel-image {
    position: absolute;
    transition: transform 0.5s ease, filter 0.5s ease, left 0.5s ease;
    width: 100%;
    max-width: 100%;
    opacity: 0;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 30px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

footer {
    background: #10622d;
    color: white;
    text-align: center;
    padding: 10px 0;
}