/*
palette and colors:
    main white background #f0f0f0
    main dark gray background #303030
    saturated italy red #e00826
    desaturated italy red 
    wine red #620826
    saturated italy green #10622d
    desaturated italy green 
    dark green

fonts:


*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    scroll-behavior: smooth;
}

header {
    background: #620826;
    color: #f0f0f0;
    padding: 2vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: "museo", serif;
    text-shadow: 1px 1px 4px black;
    font-weight: bolder;
    font-style: normal;
}

h1, h3, h5 {
    font-family: "museo", serif;
    font-weight: bolder;
    font-style: normal;
}

h2, h4 {
    font-family: "coffee-service", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 3.25em;
}

h2, h3 {
    font-size: 3em;
}

h4, h5 {
    font-size: 2.75em;
}

p {
    font-family: "rotunda-variable", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 1.2em;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo-banner {
    height:9vh;
    width:auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    transition: .4s, color .1s;
}

nav ul li a:hover {
    position: relative;
    font-size: 35px;
}

nav ul li a.odd-nav:active {
    color: #e00826;
}

nav ul li a.even-nav:active {
    color: #10622d;
}

.section {
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
}

#section1 {
    padding-top: 13vh;
    background-image: url(assets/wood-bg.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#section2 {
    background: #f0f0f0;
}

#section3 {
    background: #f0f0f0;
}

#section4 {
    background: white;
    background-image: url(assets/smoke-bg-2.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#section5 {
    background: white;
    background-image: url(assets/smoke-bg-3.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#section6 {
    background: #f0f0f0;
}

footer {
    background: #1c2e22;
    color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
}

.carousel {
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-outer {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-image {
    flex: 0 0 auto;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: all .15s ease;
}

.carousel-image.active {
    display: block;
    opacity: 1;
    z-index: 2;
    transform: translateX(0);
}

.carousel-image.left, .carousel-image.right {
    transform: scale(.85);
    display: block;
    opacity: 1;
    z-index: 1;
    filter: blur(5px) grayscale(10%);
}

.carousel-image.left {
    left: -20%;
}

.carousel-image.right {
    right: -20%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 100;
    user-select: none;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.prev img, .next img {
    width: 25%;
    height: auto;
    transition: width 0.4s ease, height 0.4s ease;
}

.prev img:hover, .next img:hover {
    width: 35%;
    height: auto;
}

.prev img:active {
    content: url(assets/arrow-left-green.png);
    opacity: 0;
}

.next img:active {
    content: url(assets/arrow-right-red.png);
    opacity: 0;
}

.prev img:active:before, .next img:active:before {
    content: url(assets/arrow-right-red.png);
    opacity: 1;
    transition: opacity .4s ease;
}

.prev img:active, .next img:active {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.interior-container {
    width: 62%;
    height: 100%;
    background-color:white;
}

.interior-container p {
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10%;
    margin-right: 35%;
}

.title-container {
    background-color: white;
}

.title-container img {
    margin-top: 25px;
    width:62%;
    height:auto;
}

.title-container h1 {
    color: #9f1527;
    font-weight: 125%;
    line-height: 1;
    margin-top: 15px;
    margin-bottom: -10px;
    transform: translateX(-50px);
    text-shadow: 2px 2px 5px rgb(164, 164, 164);
}

.title-container h2 {
    color:#10622d;
    font-weight: 110%;
    font-size: 3.5em;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 55px;
    transform: translateX(150px);
    text-shadow: 2px 2px 5px rgb(164, 164, 164);
}

.floating-text-box {
    position: absolute;
    top: 165%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #10622d; 
    color: white;
    padding-top: 0;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    box-shadow: 1px solid #000000;
    text-decoration:none;
    transition: all 0.3s ease;
    transform-origin: center;
}

.floating-text-box p {
    transform: translateY(50%);
    color: white;
    transition: font-size 0.3s ease;
    font-size: 1.2em;
    line-height: 16pt;
}

.floating-text-box h5 {
    transform: translateY(45%);
    text-align: center;
    font-size: 2em;
    color: white;
    transition: font-size 0.3s ease;
}

.floating-text-box:hover {
    height:230px !important;
    width:230px !important;
}

.floating-text-box:hover p {
    font-size: 1.5em;
    line-height: 20pt;
}

.floating-text-box:hover h5 {
    font-size: 2.3em;
}

.floating-text-box:active {
    background-color: #e00826 !important;
}

.column {
    flex: 1;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.column h1, h3, h5 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: #10622d;
}

.column h2, h4 {
    margin-top: -5%;
    margin-bottom: 3%;
    transform:scale(25%);
    color: #9f1527;
}
  
#column1 {
    background: rgba(14, 120, 43, 0.5);
    color:rgb(27, 43, 26)
}

#column2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
}

#column3 {
    background: rgba(200, 11, 11, 0.5);
    color: rgb(50, 16, 16);
}

.embed-container {
    height: 100%;
    max-height: 100%;
    position: relative;
}

.embed-container .instagram-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-media iframe {
    height: 100%;
    width: auto;
}

.offer-carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.offer-carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    transition: transform 0.5s ease;
}

.offer-images {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100%;
    width: auto;
    z-index: -1;
}

.offer-prev, .offer-next {
    position: absolute;
    color: white;
    border: none;
    padding: 0%;
    cursor: pointer;
}

.offer-prev {
    top: 5%;
}

.offer-next {
    bottom: 5%;
}

.offer-prev img, .offer-next img {
    z-index: 10;
    width: 20%;
    height: auto;
    transition: width 0.4s ease, height 0.4s ease;
}

.offer-prev img:hover, .offer-next img:hover {
    width: 30%;
    height: auto;
}

.offer-prev img:active {
    content: url(assets/arrow-up-green.png);
    opacity: 1;
}

.offer-next img:active {
    content: url(assets/arrow-down-red.png);
    opacity: 1;
}

.offer-prev img:active:before, .offer-next img:active:before {
    opacity: 1;
}

.offer-prev img:active, .next img:active {
    opacity: 1;
}

.menu-container {
    position: relative;
    height: 100%;
    width: auto;
    overflow: hidden;
    display: inline-block;
}

.menu-wrapper {
    position: relative;
    height: 100%;
    width: auto;
    white-space: nowrap;
}

.menu-image {
    position: relative;
    display: inline-block;
    top: 0;
    height: 100%;
    width: auto;
    transition: transform 0.3s ease;
}

.menu-magnifier {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    display: none;
}

.menu-container:hover .menu-magnifier {
    display: block;
}

.floating-text-box-2 {
    position: absolute;
    top: 365%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #e00826; 
    color: white;
    padding-top: 0;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    box-shadow: 1px solid #000000;
    text-decoration: none;
    transition: all 0.3s ease;
    transform-origin: center;
}

.floating-text-box-2 p {
    transform: translateY(50%);
    color: white;
    transition: font-size 0.3s ease;
    font-size: 1.2em;
    line-height: 16pt;
}

.floating-text-box-2 h5 {
    transform: translateY(45%);
    text-align: center;
    font-size: 2em;
    color: white;
    transition: font-size 0.3s ease;
}

.floating-text-box-2:hover {
    height:230px !important;
    width:230px !important;
}

.floating-text-box-2:hover p {
    font-size: 1.5em;
    line-height: 20pt;
}

.floating-text-box-2:hover h5 {
    font-size: 2.3em;
}

.floating-text-box-2:active {
    background-color: #10622d !important;
}

.order h2 {
    color:#620826;
    text-shadow: 2px 2px 4px rgb(138, 138, 138);
}

.contact-info h2 {
    color:#10622d;
    text-shadow: 2px 2px 4px rgb(138, 138, 138);
}
