/*
palette and colors:
    main white background #f0f0f0
    main dark gray background #303030
    saturated italy red #e00826
    desaturated italy red 
    wine red #620826
    saturated italy green #10622d
    desaturated italy green 
    dark green

fonts:


*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    scroll-behavior: smooth;
}

header {
    background: #620826;
    color: #f0f0f0;
    padding: 2vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;
}

h1, h3, h5 {
    font-family: "museo", serif;
    font-weight: 700;
    font-style: normal;
}

h2, h4 {
    font-family: "coffee-service", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "rotunda-variable", sans-serif;
    font-variation-settings: "wght" 400;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo-banner {
    height:9vh;
    width:auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 25px;
    transition: .4s, color .1s;
}

nav ul li a:hover {
    position: relative;
    font-size: 30px;
}

nav ul li a.odd-nav:active {
    color: #e00826;
}

nav ul li a.even-nav:active {
    color: #093c1b;
}

.section {
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
}

#section1 {
    padding-top: 13vh;
    background-image: url(images/wood-bg.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#section2 {
    background: #f0f0f0;
}

#section3 {
    background: white;
    background-image: url(images/smoke-bg-2.png);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#section4 {
    background: #f0f0f0;
}

.column {
    flex: 1;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
  
#column1 {
    background: #10622d;
    color: white;
}

#column2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    color: #e00826;
}

#column3 {
    background: #e00826;
    color: white;
}

footer {
    background: #1c2e22;
    color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
}

.carousel {
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-outer {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-image {
    flex: 0 0 auto;
    display: none;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
}

.carousel-image.active {
    display: block;
    opacity: 1;
    z-index: 2;
    transform: translateX(0);
}

.carousel-image.left, .carousel-image.right {
    transform: scale(.85);
    display: block;
    opacity: 1;
    z-index: 1;
    filter: blur(5px) grayscale(10%);
}

.carousel-image.left {
    left: -20%;
}

.carousel-image.right {
    right: -20%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 100;
    user-select: none;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.prev img, .next img {
    width: 25%;
    height: auto;
    transition: .4s;
}

.prev img:hover, .next img:hover {
    width: 30%;
    height: auto;
}

.prev img:active {
    content: url(images/arrow-left-green.png);
    opacity: 0;
}

.next img:active {
    content: url(images/arrow-right-red.png);
    opacity: 0;
}

.prev img:active:before, .next img:active:before {
    content: url(images/arrow-right-red.png);
    opacity: 1;
    transition: opacity .4s ease;
}

.prev img:active, .next img:active {
    opacity: 1;
}

.embed-container {
    height: 100%;
    max-height: 100%;
    position: relative;
}

.embed-container .instagram-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-media iframe {
    height: 100%;
    width: auto;
}

.menu-image {
    display: block;
    height: 100%;
    width: auto;
}