body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-image: url(assets/headerbanner.png);
    background-size: cover;
    background-color: #163120; 
    color: #f0bc31; 
    text-align: center;
    padding: 10px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

footer {
    background-image: url(assets/backgroundhexagon-gradient-transparent.png);
    background-size: cover;
    background-color: #202020; 
    color: #f0f0f0; 
    text-align: center;
    padding: 10px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header h1, h3, h5, p {
    margin: 0;
}

footer h1, h3, h5, p {
    margin: 0;
}

.container {
    display: flex;
    height: calc(100vh - (header height + footer height));
    overflow: hidden;
}

.box {
    display: flex;
}

.element {
    display:flex;
    justify-content: flex-end;
}

.column-orientated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 60px;
    box-sizing: border-box;
}

.video-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-right: 100px;
    padding: 20px;
    border: 1px;
    border-color: #000000; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);  
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

#video-list {
    list-style-type: none;
    background: rgba(104, 104, 104, 0.25);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: auto;
}

.video-item {
    padding: 10px;
    
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    color: #000000;
    outline: none;
    cursor: pointer;
}

.video-item.locked {
    color:#8e8e8e;
    cursor: not-allowed;
}

.video-item.locked img {
    width: 15px; 
    height: auto; 
}

.video-item.selectable:hover {
    color: #f0f0f0;
}

.video-item.selectable:active {
    color: #d9a22a;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.header-left, .header-middle, .header-right {
    flex: 1;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left img {
    max-width: 60%;
    max-height: 60%;
}

.home-link {
    max-width: 60%;
    max-height: 60%;
    padding: 29px;
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left, .footer-middle, .footer-right {
    flex: 1;
    padding-top: 3%;
    padding-bottom: 5%
}

.footer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:10%;
}

.footer-left img {
    max-width: 85%;
    max-height: 85%;
}

.footer-middle {
    display: flex;
    align-items: left;
    justify-content: center;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
}

.copyright {
    padding-bottom: 1%;
}

.main-left, .main-right {
    flex: 1; 
    height: 100vh; 
}

.main-left {
    background-image: url(assets/backgroundhexagon-gray.png);
    background-size: cover;
    background-color: #f0f0f0;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-left img {
    max-width: 125%;
    max-height: 125%;
    justify-content: right;
}

.main-left h1 {
    margin: 0 0 20px 0;
    font-size: 300%;
    color: #163120;
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
}

.main-left h3 {
    margin: 0 0 20px 0;
    color: #163120;
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
}

.main-left p {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    flex-direction: column;
}

.main-left a {
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-left a:hover {
    color: #163120;
}

.floating-text-box {
    position: absolute;
    right: -5%;
    top: 60%; /* Adjust this value to move the box down */
    transform: translateY(0%); /* Center the box vertically */
    background-color: #163120; 
    color: #ffffff;
    padding: 40px;
    height: 120px;
    width: 180px; /* Adjust width as needed */
    box-shadow: 20px solid #000000;
    text-align: right; /* Align text to the right */
}

.floating-text-box p {
    margin: 0; /* Remove default margin */
    
}

.floating-text-box h2 {
    margin: 0; /* Remove default margin */
    text-size-adjust: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-right {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 60px;
    box-sizing: border-box;
}

.main-right img {
    max-width: 25%;
    max-height: 25%;
}

.main-right h1 {
    margin: 0 0 20px 20px;
    font-size: 300%;
    color: #163120;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-right h3 {
    margin: 0 0 20px 0;
    color: #163120;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-right p {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.main-right a {
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-right a:hover {
    color: #163120;
}

.main-right iframe {
    width: 800px; /* Adjust width as needed */
    max-width: 1280px; /* Set maximum width */
    height: 420px; /* Maintain aspect ratio */
    padding-bottom: 40px;
    justify-content: left;
}

.header-buttons {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center; /* Center the buttons horizontally */
    gap: 4px; /* Add a gap between the buttons */
}

.small-button {
    display: block;
    width: 150px; /* Fixed width */
    height: 22px; /* Fixed height */
    line-height: 21px; /* Center text vertically */
    background-color: #ffffff; 
    color: #163120; 
    text-decoration: none;
    border-radius: 20px; 
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
}

.small-button:hover {
    background-color: #f0bc31;
    color: #163120;
}

.small-button:active {
    background-color: #0f2514; 
    color: #d9a22a;
}

.large-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #163120; 
    color: #ffffff; 
    text-decoration: none;
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s;
}


.large-button:hover {
    background-color: #f0bc31;
    color: #163120;
}

.large-button:active {
    background-color: #0f2514; 
    color: #d9a22a;
}

.large-button:no-active {
    background-color: #163120 !important;
    color: #ffffff !important;
}

.footer-buttons {
    display: flex;
    flex-direction: column; /* Stack the buttons vertically */
    align-items: center; /* Center the buttons horizontally */
    gap: 10px; /* Add a gap between the buttons */
}

.minor-button {
    display: block;
    color: #a0a0a0; 
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.minor-button:hover {
    color: #ffffff;
}

.minor-button:active {
    color: #d9a22a;
}

.scroll-to-top {
    padding: 20px;
    display: none; 
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #163120; 
    color: #ffffff; 
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000;
    width:auto;
}

.scroll-to-top img {
    width: 50px; 
    height: auto; 
}

.scroll-to-top:hover {
    background-color: #f0bc31;
    color: #163120;
}

.scroll-to-top:active {
    background-color: #0f2514; 
    color: #d9a22a;
}

form {
    background: rgba(104, 104, 104, 0.25); /* Semi-transparent background */
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: auto;
}

label {
    margin-bottom: 5px;
    color: #686868;
    transition: color 0.3s ease;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    color: #686868;
    outline: none;
}

button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-group:hover label, .input-group:focus-within label {
    color: #000000; 
}

.input-group:hover input, .input-group:hover select, .input-group:hover textarea,
.input-group:focus-within input, .input-group:focus-within select, .input-group:focus-within textarea,
input:focus, select:focus, textarea:focus {
    border-color: #000000; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    color: #000000; 
}

input, select, textarea {
    color: #a9a9a9; 
}